$fontSizeBase: 10px;
$primary: blue;
$success: green;
$warning: orange;
$info: gray;
$danger: red;
$dark: #000;
$light: #fff;

/**************/
$primaryLabel: 'primary';
$successLabel: 'success';
$warningLabel: 'warning';
$dangerLabel: 'danger';
$infoLabel: 'info';
$darkLabel: 'dark';

/***********/
$shadow: 2px 2px 5px 2px rgba(151, 148, 148, 0.828);
